.contenedor-cart {
  margin: 0 auto;
}

.box-product {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  box-shadow: 1px 1px 8px black;
}

.box-product img {
  max-width: 40%;
  height: 100%;
  object-fit: contain;
}
.info-product-cart {
  padding: 1rem;
}

.box-resumen {
  max-width: 100%;
  padding: 1em;
  font-weight: bold;

  border: 1px solid black;
  box-shadow: 1px 1px 8px black;
}
.box-resumen-products {
  max-width: 100%;
}
.order-count {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
