.contenedor-cart {
  margin: 0 auto;
}

.box-product {
  width: 100%;
  height: 200px;
  border: none;

  display: flex;
  box-shadow: 3px 3px 8px rgb(139, 138, 138);
}

.box-product img {
  max-width: 40%;
  height: 100%;
  object-fit: contain;
}
.info-product-cart {
  padding: 1rem;
}

.box-resumen {
  max-width: 100%;
  padding: 1em;

  font-weight: bold;
  margin-bottom: 5em;
  border: 1px solid rgb(170, 133, 133);
  box-shadow: 10px 10px;
}
.box-resumen-products {
  max-width: 100%;
}
.order-count {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
