* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  margin: 1em;
}

.card__producto-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
}
.content__info {
  padding: 0.2em;
  display: flex;

  justify-content: space-between;
}

.content__info-count {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #bbb;
  border-radius: 0.5em;
  width: 100%;
  margin-top: 1em;
  margin: 0 auto;
  padding: 0.5rem;
  align-items: center;
}

.price__product {
  color: slateblue;
}
.button__product {
  margin-top: 0.5em;
}

.button__product:hover {
  background-color: white;
  color: teal;
}

/* ItemDetail */

.contenedor {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-areas:
    "title title title title"
    "image image image info"
    " image image image info";
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "title title title title"
      "image image image info"
      " image image image info";
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-areas:
      "title title title title"
      "image image image image"
      "info info info info";
  }
}
@media screen and (max-width: 320px) {
  .contenedor {
    grid-template-areas:
      "title title title title"
      "image image image image"
      "info info info info";
  }
}
.title {
  grid-area: title;
}

.info {
  grid-area: info;
}

.image {
  grid-area: image;
  max-width: 100%;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.icon-check {
  color: green;
  margin-right: 0.5rem;
}

/* cart border count */

.carrito {
  display: flex;
  position: relative;
}
.contador {
  background-color: black;
  display: flex;
  position: absolute;
  top: 0;
  right: -5px;
  justify-content: center;
  align-self: center;
  color: white;
  width: 20px;

  height: 20px;
  border-radius: 50%;
}

/* modal  */

.modal-cart {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  right: 0;
  transition: all 0.3s ease;
  top: 52px;
  background: #f8f9fa;
  width: 44%;
  border-left: 1rem;
  height: 100vh;
  color: black;
  z-index: 2;
}

.button-cerrar {
  background-color: white;
  color: red;
}

@media screen and (max-width: 768px) {
  .modal-cart {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .modal-cart {
    width: 90%;
  }
  /* .table-dark tr {
    display: flex;
    flex-wrap: wrap;
  } */
}
@media screen and (max-width: 320px) {
  .modal-cart {
    width: 100%;
  }
  /* .table-dark tr {
    display: flex;
    flex-wrap: wrap;
  } */
}

.container-portada {
  max-width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
}

.container-portada img {
  width: 100vw;
  height: inherit;
  object-fit: cover;
  filter: opacity(0.9);
}

.text-portada {
  position: absolute;
  color: white;
  left: 10%;
}
.button-efect:hover {
  background-color: white !important;
  color: rgb(19, 88, 236) !important;
}

hr {
  background-color: white;
  max-width: 70%;
}

.productos-list {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.container-card {
  width: 15rem;
  text-align: center;
  height: 330px;
  border: 1px solid black;
  border-radius: 0.2em;
  box-shadow: 3px 3px 5px black;
  margin: 1em;
}

.container-card__image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}
.container-card__image img {
  max-width: 100%;
  text-align: center;
  display: block;
  height: 100%;
  object-fit: cover;
}
.container-card__info {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container-card {
    max-width: 100%;
    margin: 0.3em;
  }
  .productos-list {
    width: 100vw;
    margin: 5px;
  }
  .text-portada {
    left: 5%;
  }
}
@media screen and (max-width: 680px) {
  .container-card {
    max-width: 15rem;
    margin: 0.3em;
    margin: 2px auto;
  }
  .productos-list {
    max-width: 100vw;
  }
}

@media screen and (max-width: 980px) {
  .container-card {
    max-width: 18rem;
    margin: 0.3em;
    margin: 2px auto;
  }
  .productos-list {
    max-width: 100vw;
  }
}
